<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <header class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="<%= url_for(action: 'home', controller: 'base_controller') %>">Track Your Time</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
              <ul class="nav navbar-nav">
                <li><a id="nav-home" href="<%= url_for(action: 'home', controller: 'base_controller') %>">Home</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tracking
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Start A Session</a></li>
                    <li><a href="#">Contiue A Previous Session</a></li>
                    <li><a href="#">Manage All Sessions</a></li>
                  </ul>
                </li>
                <li><a id="nav-about" href="<%= url_for(action: 'about', controller: 'base_controller') %>">About</a></li>
                <li><a id="nav-help" href="<%= url_for(action: 'help', controller: 'base_controller') %>">Help</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="container-fluid body-container">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
      </div>
      <div class="container-fluid">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>
